body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    padding: 100px;
    margin: 100px;
    align-items: center;
    background-color: dimgray;
    z-index: 4;
    
    
    
}

input{
    font-family: "Arial", sans-serif;
    border-radius: 25px;
    align-items: center;
    outline: 0;
    border: 0;
   
}

input::placeholder {
    font-family: "Arial", sans-serif; /* Define a família de fontes para o placeholder */
    font-size: 8px; /* Define o tamanho da fonte para o placeholder */
    font-weight: normal; /* Define o peso da fonte para o placeholder */
    color: #999; /*Define a cor do texto do placeholder */
}


#email {
    font-family: "Arial", sans-serif;
    font-size: 8px;
    
}

#eye {
    font-size: 10px;
    position: absolute;
    right: 0px;
    left :147px;
    top: 25%;
    width: 50px;
    z-index: 1;
}

.password {
    width: 46%;
    position: relative;
    display:inline-flex;
    align-items: center;
    z-index: 2;

}

.quadrado {
    background-color:grey;
    border-radius: 25px;
    
    padding: 35px;
    padding-top: 100px;
    
}
button{
    background-color: black;
    color: white;
    position: absolute;
    padding: 5px;
   width: 21%;
   border: 0;
   border-radius: 5px;
}
button:hover{
    background-color:#424949;
}












